Source: nala
Priority: optional
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Build-Depends: bake, build-essential, valac-0.24, libgee-dev, libglib2.0-dev, debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/g7/nala
Vcs-Git: https://github.com/g7/nala.git
Vcs-Browser: https://github.com/g7/nala

Package: nala-dev
Section: libdevel
Architecture: any
Depends: libnala0 (= ${binary:Version})
Description: file/directory watcher library based on GLib (vala implementation) - development headers
 nala is a vala-written file/directory watcher library based on GLib.
 It permits to create simple file watchers in seconds, and provides a
 nice Queue system.
 .
 If you are searching the pure python implementation of nala, go to the
 package python-nala.
 .
 This package contains the development headers of nala.

Package: nala-vapi
Section: devel
Architecture: any
Depends: libnala0 (= ${binary:Version})
Description: file/directory watcher library based on GLib (vala implementation) - vapi files
 nala is a vala-written file/directory watcher library based on GLib.
 It permits to create simple file watchers in seconds, and provides a
 nice Queue system.
 .
 If you are searching the pure python implementation of nala, go to the
 package python-nala.
 .
 This package contains the vapi files for usage in other applications.

Package: libnala0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: file/directory watcher library based on GLib (vala implementation) - library
 nala is a vala-written file/directory watcher library based on GLib.
 It permits to create simple file watchers in seconds, and provides a
 nice Queue system.
 .
 If you are searching the pure python implementation of nala, go to the
 package python-nala.

Package: nala0
Section: libs
Architecture: all
Depends: libnala0 (= ${binary:Version})
Description: dummy transitional package to libnala0
 This package simply puts in place libnala0.
